<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Upload Wallpaper</title>
</head>
<body>
    <h1>Upload Wallpaper</h1>
    
    <form action="{{ url_for('upload_wallpaper') }}" method="post" enctype="multipart/form-data">
        <label for="wallpaper">Select Wallpaper:</label>
        <input type="file" name="wallpaper" id="wallpaper" required>
        <button type="submit">Upload</button>
    </form>
    
    <!-- Displaying Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
